<div class="ui-desktop">
  <div class="ui-icon">
      <div class="ui-icon-container">
          <img src="{{ "/assets/img/recycle_bin_empty.png" | relative_url }}">
          <span>Recycle Bin</span>
      </div>
  </div>
  <div class="ui-icon">
      <div class="ui-icon-container">
          <img src="{{ "/assets/img/computer_explorer.png" | relative_url }}">
          <span>Computer</span>
      </div>
  </div>
  <div class="ui-icon">
      <div class="ui-icon-container">
          <img src="{{ "/assets/img/directory_closed.png" | relative_url }}">
          <span>Documents</span>
      </div>
  </div>
</div>
