<footer>
  <div class="start-bar">
    <a href="#" class="button start-button-wrapper">
        <div class="start-button"></div>
    </a>
    <span class="start-bar-window">
        <span class="windows-icon">
            <img src="{{ "/assets/img/ie.png" | relative_url }}">
        </span>
        {{ site.title | escape | truncate: 20 }}
    </span>
    <span class="start-bar-tray">
        <span class="start-bar-tray-speaker">
            <img src="{{ "/assets/img/speaker.ico" | relative_url }}">
        </span>
        <span class="start-bar-tray-clock"></span>
    </span>
  </div>
</footer>
