---
layout: default
---

<div class="home">
  <div class="home-wrapper">
    <h1>Gabriele Serra</h1>
    <hr>

    <p>
      <ul style="list-style-type: square;">
        <li><a href="https://www.santannapisa.it/en/gabriele-serra">Ph.D. student @ Scuola Superiore Sant'Anna</a> </li>
        <li><a href="https://landing.deliveryaggregator.com/">CTO @ DeliveryAggregator</a></li>
        <li><a href="https://accelerat.eu/">Research Engineer @ Accelerat</a></li>
        <li>Qualified (nostalgic) software engineer</li>
      </ul>
    </p>

    <h2 id="tldr">TL;DR</h2>
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">
          Contacts.exe
        </div>

        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="window-body">
        <div class="window-container">
          <img src="{{ "/assets/img/envelope_open.png" | relative_url }}">
          <p>Keep in touch.</p>
        </div>
        <section class="field-row">
          <button><a href="https://www.linkedin.com/in/gabriele-serra/">Linkedin</a></button>
          <button><a href="https://github.com/gabriserra">Github</a></button>
          <button><a href="maito:gabriele.serra@santannapisa.it">Email</a></button>
        </section>
      </div>
    </div>

    <h2 id="intro">Introducing myself</h2>
    <p>
      Since 2019, I'm Ph.D. student at <a href="https://www.santannapisa.it">
      Scuola Superiore Sant'Anna</a>, situated in Pisa, Italy.
      Proudly, I work in the <a href="https://retis.santannapisa.it/">
      Real-Time Systems Laboratory</a> (ReTiS) under the supervision of 
      <a href="http://retis.sssup.it/~giorgio/"> Prof. Giorgio Buttazzo </a> and 
      <a href="https://retis.sssup.it/~a.biondi/">Prof. Alessandro Biondi </a>.
    </p>
    <p>
      In June 2019, I received a Master's degree in Embedded Computing Systems,
      a course offered jointly by Università di Pisa & Scuola Superiore Sant'Anna.
      I graduated <em>cum laude</em> with a thesis on
      <a href="https://etd.adm.unipi.it/theses/available/etd-06052019-133334/">
      IPC mechanisms and exception handling for an RT safety-critical kernel,</a> 
      sponsored by <a href="http://www.rfi.it/">Rete Ferroviaria Italiana</a>.
    </p>
    <p>
      In 2022 I visited the <a href="https://sra.uni-hannover.de/">Systems 
      Research and Architecture (SRA) </a> group at <a href="https://www.uni-hannover.de/en/">
      Leibniz Universität </a> - Hannover (Germany), where I spent six months 
      as Doctoral Researcher in the group supervised by 
      <a href="https://www.sra.uni-hannover.de/People/lohmann/">Prof. Daniel Lohmann</a>.
    </p>
    <p>
      I am a co-founder and CTO at 
      <a href="https://landing.deliveryaggregator.com/">DeliveryAggregator</a>
      a company specialized in last-mile logistics.
    </p>
    <p>
      Since 2022, I have been a Research Engineer at <a href="https://accelerat.eu/">
      Accelerat</a>, an innovative spin-off company working on software solutions for safe, 
      secure, and predictable cyber-physical systems.
    </p>

    <h2 id="research">Research</h2>

    <p>
      My research is focused on Operating Systems and Virtualization for 
      Real-Time Embedded Systems. Particularly I'm working on:
      <ul class="inner-list">
        <li>The role of virtualization in mixed-criticality systems </li>
        <li>Improvement of programming models for managing safety/security requirements </li>
        <li>Development of mechanism to avoid (or account) interference due to resource sharing</li>
      </ul>
    </p>

    <p>
      From the beginning of my career in the academic field, I served as: 
      <ul class="inner-list">
        <li>Web-chair of <a href="https://rage-workshop.github.io/2022/">2022</a> 
            and <a href="https://rage-workshop.github.io/2023/">2023</a> RAGE Workshop</li>
        <li>
          Secondary reviewer for the following conferences and workshops: 
          DSD (2023), ISORC (2022), RTAS (2022), EMSOFT (2022, 2021), RTCSA (2022), 
          DAC (2021), WCFS(2021), ICCPS (2020), RTSS (2019), DETECT (2019)
        </li>
        <li>
          Reviewer for International journals:
          <ul>
            <li><a href="https://www.sciencedirect.com/journal/microprocessors-and-microsystems">
              Microprocessors and Microsystems: Embedded Hardware Design (MICPRO)</li>
            <li><a href="https://www.springer.com/journal/11241/">
              Real-Time Systems: The International Journal of Time-Critical Computing Systems (TIME)</li>
            <li><a href="https://dl.acm.org/journal/tecs">
              ACM Transactions on Embedded Computing Systems (TECS)</li>
          </ul>
          </a>
        </li>
      </ul>
    </p>

    <h2 id="say-thanks">Say Thanks</h2>

    <p>
      As a researcher, I strongly support open knowledge and open-source 
      software. I really focus my effort on publishing stuff and always keep 
      it free and available. Then, if you like something that I published or just 
      want to support my activities, buy me a beer! 
    </p>

    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">Thanks.exe</div>

        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>

      </div>
      <div class="window-body">
        <div class="window-container">
          <img src="{{ "/assets/img/database.png" | relative_url }}">
          <p>Buy me a beer.</p>
        </div>
        <section class="field-row">
          <button><a href="http://buymeacoff.ee/gabriserra" target="_blank">Cheers!</a></button>
        </section>
      </div>
    </div>

    <h2 id="counters">Counters</h2>

    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">cmd.exe</div>

        <div class="title-bar-controls">
          <button aria-label="Minimize"></button>
          <button aria-label="Maximize"></button>
          <button aria-label="Close"></button>
        </div>

      </div>
      <div class="window-shell">
        <p>C:\Users\root>counters</p>
        <br>
        <p class="shell-output">Volume of people in page</p>
        <br>
        <!--
        <p class="shell-output">2020-08-23 03:23 PM - &lt;ONLINE&gt; 15</p>
        <p class="shell-output">2020-08-23 03:23 PM - &lt;TOTAL&nbsp;&gt; 35</p>
        -->
        <p class="shell-output">Currently not available.</p>
        <br>
        <p>C:\Users\root><span class="window-prompt">▬</span></p>
      </div>
    </div>
    
  </div>
</div>
